* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to left, red, purple);
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  position: relative;
  width: 70vw;
  height: 80vh;
  background-color: rgba(255, 255, 255, 0.35);
  overflow: hidden;
  backdrop-filter: blur(200px);
  /* filter: blur(2px); */
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 15px;
  display: flex;
}
.player {
  width: 50%;
  height: 100%;
  transition: all 0.75s;
}
.player--0 {
  border-right: 2px double #222;
}
.name {
  position: absolute;
  font-size: 3.5rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
}
.player--active {
  background-color: rgba(255, 255, 255, 0.4);
}
.player--active .name {
  font-weight: 800;
}
.player--active .score {
  font-weight: 800;
}
.player--active .current {
  opacity: 1;
}
#name--0 {
  position: absolute;
  top: 15%;
  left: 18%;
}
#name--1 {
  position: absolute;
  top: 15%;
  right: 18%;
}
.score {
  position: absolute;
  font-size: 3.5rem;
  font-weight: 600;
  color: #c41a1a;
}
#score--0 {
  top: 24%;
  left: 24%;
}
#score--1 {
  top: 24%;
  right: 24%;
}
.current {
  position: relative;
  opacity: 0.8;
  width: 12vw;
  height: 12vh;
  border-radius: 8px;
  background-color: #5476da;
  left: 33.5%;
  top: 65%;
  text-align: center;
  transition: all 0.75s;
  padding: 1rem;
}
.current-labale {
  /* position: absolute; */
  /* top: 5%;
  left: 28%; */
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  font-weight: 900;
  color: #d8de30;
}
.current-score {
  /* position: absolute; */
  bottom: 15%;
  left: 46%;
  font-size: 3.5rem;
  color: #c41a1a;
}
.dice,
.btn {
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.btn {
  border: none;
  font-weight: 400;
  transition: all 0.2s;
  background-color: rgba(255, 255, 255, 0.6);
  background-color: white;
  backdrop-filter: blur(10px);
  border-radius: 50rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}
.btn:active {
  transform: translate(-50%, 3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}
.btn:focus {
  outline: none;
}
.dice {
  top: 28%;
  height: 115px;
}
.btn-New {
  top: 5%;
  cursor: pointer;
  font-size: 2rem;
  padding: 1rem;
  border-radius: 10px;
  border: none;
}
.btn-Roll {
  bottom: 25%;
  cursor: pointer;
  font-size: 2rem;
  padding: 1rem;
  border-radius: 10px;
  border: none;
}
.btn-Hold {
  bottom: 12%;
  cursor: pointer;
  font-size: 2rem;
  padding: 1rem;
  border-radius: 10px;
  border: none;
}
.player--winer {
  background-color: #2f2f2f;
}
.player--winer .name {
  font-weight: 800;
  color: #c7365f;
}
.hidden {
  display: none;
}
